@font-face {
	font-family: OpenSans;
	src: url(Open_Sans/static/OpenSans/OpenSans-Regular.ttf);
}
body {
	margin: 0;
	font-family: OpenSans;
}
.wrap {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
.page {
	height: 100%;
	display: grid;
	grid-template-columns: 320px 320px 320px 320px 320px;
	width: 100%;
	max-width: 1600px;
	margin: 0 auto;
}
.logoWrap {
	border-right: 1px solid black;
	grid-row: 1 / 10;
}
.navBarWrap {
	position: sticky;
	top:0;
	grid-column-start: 2;
	grid-column-end: 6;
}
.navBar {
	background-color: #FFFFFF;
	display: inline-grid;
	grid-template-columns: 960px 160px 160px;
	padding: 10px 0 10px 0;
	border-bottom: 1px solid black;
}
.searchFieldBorder {
	height: 40px;
	border: 1px solid black;
	border-radius: 20px;
	margin-left: 10px;
	margin-top: auto;
	margin-bottom: auto;
}
.searchField {
	float: left;
	font-size: 16px;
	border: 0;
	padding: 3px 0 3px 0;
	width: 890px;
	position: relative;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.searchField:focus {
	place-content: none;
	border-bottom: 1px solid black;
	outline: 0;
}
.cartButton {
	height: 50px;
	width: 50px;
}
.cartImage {
	height: 100%;
	width: 100%;
}
.productsWrap {
	max-width: 1280px;
	grid-auto-flow: row;
	grid-column: 2 / 6;
	display: grid;
	grid-template-columns: 320px 320px 320px 320px;
	grid-template-rows: 150px 440px;
}
.section {
	max-width: 1270px;
	font-size: 27px;
	font-weight: bold;
	margin-top: 20px;
	margin-bottom: 10px;
	padding-left: 10px;
	border-bottom: 1px solid black;
	grid-column: 1 / 5;
}
.product {
	display: grid;
	grid-template-rows: 72% 14% 14%;
	grid-template-columns: 50% 50%;
	margin-left: 8px;
	font-size: 20px;
	height: 430px;
	width: 310px; 
	border: 1px solid black;
}
.productImage {
	grid-column: 1 / 3;
	height: 100%;
	width: 100%;
}
img {
	height: 100%;
	width: 100%;
}
.productName {
	padding-left: 10px;
	grid-column: 1 / 3;
}
.productPrice {
	font-weight: bold;
	padding-left: 10px;
	font-size: 30px;
}
.productAddToCart {
	margin-left: auto;
	margin-right: auto;
}
.addToCart {
	cursor: pointer;
	background-color: #FF4500;
	border: 0;
	color: #FFFFFF;
	font-size: 20px;
	width: 130px;
	height: 50px;
	transition: 0.3s;
}
.addToCart:hover {
	background-color: #ff6e3a;
}
.footerWrap {
	background-color: #FF4500;
	grid-column: 1 / 6;
}
